:root {
    /* Accent color */
    --primary: rgb(18, 172, 164);
    --background: rgb(243, 243, 243);
    --text: rgb(0, 0, 0);
    --primary-text: rgb(4, 114, 108);
    --inactive: rgb(128, 128, 128);
    --error: rgb(220, 110, 110);
    --dark-background: rgb(0, 0, 0);
    --dark-active-background: rgb(64, 64, 64);
    --active-background: rgb(0, 90, 86);
}