:root {
    --thumbnail-size: 128px;
}


body.viewing-image>section#main-pictures {
    display: none;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    overflow: hidden;
}


.image {
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    z-index: 1;
}

.image.selected {
    outline: 0.2rem solid var(--primary);
}

.image:hover {
    z-index: 2;
}

.image>img {
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    object-fit: cover;
    transition: border-radius var(--transition-time) ease, transform var(--transition-time) ease, box-shadow var(--transition-time) ease;
    cursor: pointer;
}


.image:hover>img {
    transform: scale(1.1);
    border-radius: calc(var(--thumbnail-size) / 15);
    /* Create a shadow around the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.year-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    align-items: center;
    /* Space between the year title and the button on the same line */
    justify-content: space-between;
    /* Clickable area of the year title */
    cursor: pointer;
    transition: box-shadow var(--transition-time) ease, color var(--transition-time) ease;
}

.year-title>h2 {
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-left: 2rem;
}

.year-title>span {
    margin-right: 3rem;
}

.year-title:hover {
    color: var(--primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.month-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    align-items: center;
    /* Space between the month title and the button on the same line */
    justify-content: space-between;
    /* Clickable area of the month title */
    cursor: pointer;
    transition: box-shadow var(--transition-time) ease, color var(--transition-time) ease;
}

.month-title>h3 {
    font-size: 1.75rem;
    margin: 1rem;
    padding: 0;
    margin-left: 2.5rem;
}

.month-title>span {
    margin-right: 3rem;
}

.images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

div.year.year-collapsed>div.month {
    display: none;
}

div.month.month-collapsed>div.images {
    display: none;
}